@media only screen and (max-width: 1665px) {

    .second-page-container {
        width: 60%;
    }
}

@media only screen and (max-width: 1288px) {
    
    html {
        scroll-snap-type: none;
        scrollbar-width: auto;
    }

    .scrollbar {
        display: none;
    }

    .second-page-container, .third-content-container, .fourth-content-container, .fifth-content-container {
        width: 70%;
    }
}

@media only screen and (max-width: 1024px) {

    .second-page-container, .third-content-container, .fourth-content-container, .fifth-content-container {
        width: 80%;
    }
}

@media only screen and (max-width: 990px) {

    .planet {
        right: 60%;
    }

    .stars {
        left: -18%;
    }
}

@media only screen and (max-width: 850px) {

    .title {
        font-size: 30px;
    }

    .pic-info-container {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }

    .pic-container {
        grid-row: 1 / 2;
        height: 350px;
        min-width: 450px;
        margin: 0px auto;
    }

    .info-container {
        grid-row: 2 / 3;
    }

    .info-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .third-page-title {
        gap: 10px;
    }
    .star-heading-right {
        width: 120px;
    }

    .star-heading-left {
        width: 120px;
    }

    .web-dev-loading-msg {
        font-size: 25px;
    }

    .loading-dots span {
        width: 8px;
        height: 8px;
    }

    .exp-timeline-container {
        gap: 47px;
    }

    
    .titles {
        font-size: 20px;
    }

    .list-style {
        padding-top: 10px;
        padding-left: 30px;
        font-size: 16px;
        line-height: 1.4;
    }

    .git-img {
        height: 600px;
        width: 100px;
    }

    video {
        max-height: 280px;
        max-width: 280px;
    }

    .img-404 {
        width: 300px;
    }

    .question-button-container h2 {
        font-size: 20px;
    }

    .answer {
        font-size: 18px;
    }

}

@media only screen and (max-width: 699px) {

    .third-page-title {
        gap: 10px;
    }
    .star-heading-right {
        width: 95px;
    }

    .star-heading-left {
        width: 95px;
    }

    .web-dev-loading-msg {
        font-size: 20px;
    }

    .loading-dots span {
        width: 6px;
        height: 6px;
    }
}

@media only screen and (max-width: 670px) {

    .introduction-container {
        transform: translateY(-50px); 
    }

    .first-page .logo {
        width: 100px;
    }
    
    .introduction-container h1 {
        margin-top: -18px;
        font-size: 50px;
    }
    
    .introduction-container h2 {
        font-size: 18px;
    }

    .outer {
        width: 500px;
        height: 500px;
    }
    
    .inner {
        width: 400px;
        height: 400px;
    }

    @-webkit-keyframes first-circle {

        0% {
            transform: rotate(0deg) translate(-250px) rotate(0deg);  /* Start at top */
        }
        100% {
            transform: rotate(360deg) translate(-250px) rotate(-360deg); /* Complete rotation */
        }
    }

    @-webkit-keyframes second-circle {

        0% {
            transform: rotate(-180deg) translate(-250px) rotate(180deg);  /* Start at top */
        }
        100% {
            transform: rotate(-540deg) translate(-250px) rotate(540deg); /* Complete rotation */
        }
    }

    @-webkit-keyframes third-circle {

        0% {
            transform: rotate(180deg) translate(-200px) rotate(-180deg);  /* Start at bottom */
        }
        100% {
            transform: rotate(540deg) translate(-200px) rotate(-540deg);  /* Complete rotation */
        }
    }

    @-webkit-keyframes fourth-circle {

        0% {
            transform: rotate(-270deg) translate(-200px) rotate(270deg);  /* Start at bottom */
        }
        100% {
            transform: rotate(-630deg) translate(-200px) rotate(630deg);  /* Complete rotation */
        }
    }
}

@media only screen and (max-width: 480px) {


}

@media only screen and (max-width: 320px) {


}