@media only screen and (max-width: 1665px) {

    .second-page-container {
        width: 60%;
    }
}

@media only screen and (max-width: 1288px) {
    
    html {
        scroll-snap-type: none;
        scrollbar-width: auto;
    }

    .scrollbar {
        display: none;
    }

    .second-page-container, .third-content-container, .fourth-content-container, .fifth-content-container {
        width: 70%;
    }
}

@media only screen and (max-width: 1024px) {

    .second-page-container, .third-content-container, .fourth-content-container, .fifth-content-container {
        width: 80%;
    }
}

@media only screen and (max-width: 990px) {

    .planet {
        right: 60%;
    }

    .stars {
        left: -18%;
    }
}

@media only screen and (max-width: 850px) {

    .pic-info-container {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }

    .pic-container {
        grid-row: 1 / 2;
        height: 350px;
        min-width: 450px;
        margin: 0px auto;
    }

    .info-container {
        grid-row: 2 / 3;
    }

    .info-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 768px) {


}

@media only screen and (max-width: 480px) {


}

@media only screen and (max-width: 320px) {


}