@media only screen and (max-width: 1665px) {

    .second-page-container {
        width: 60%;
    }
    
    .exp-timeline-container {
        gap: 56px;
    }

    video {
        max-height: 320px;
        max-width: 320px;
    }
}

@media only screen and (max-width: 1288px) {
    
    html {
        scroll-snap-type: none;
        scrollbar-width: auto;
    }

    .scrollbar {
        display: none;
    }

    .second-page-container, .third-page-container, .fourth-page-container, .fifth-page-container {
        width: 70%;
    }

}

@media only screen and (max-width: 1024px) {

    .second-page-container, .third-page-container, .fourth-page-container, .fifth-page-container {
        width: 80%;
    }
}

@media only screen and (max-width: 990px) {

    .title {
        font-size: 28px;
    }

    .stars {
        left: -18%;
    }

    .satellite {
        bottom: 300px;
    }

    .info-section {
        align-items: center;
    }

    .info-section div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .info-section .social-icons {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .star-heading-right {
        width: 120px;
    }

    .star-heading-left {
        width: 120px;
    }

    .skill-tree-image {
        height: 550px;
        width: 80px;
    }

    .exp-timeline-container {
        gap: 58px;
    }

    .date-timeline-container {
        gap: 61px;
    }

    .date-timeline {
        font-size: 15px;
    }

    .exp-timeline-container {
        gap: 46px;
    }

    .exp-title {
        font-size: 18px;
        font-weight: 700;
    }
    
    .exp-details {
        font-size: 13px;
        padding-top: 6px;
    }

    .web-dev-loading-msg {
        font-size: 25px;
    }

    .loading-dots span {
        width: 8px;
        height: 8px;
    }
}

@media only screen and (max-width: 850px) {

    .second-page-container, .third-page-container, .fourth-page-container, .fifth-page-container {
        width: 85%;
    }

    .title {
        font-size: 25px;
    }

    .pic-container {
        bottom: 10px;
    }

    .satellite {
        display: none;
    }

    .satellite2 {
        visibility: visible;
        width: 100px;
        position: absolute;
        right: -20px;
        bottom: -20px;
    }

    .pic-info-container {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }

    .pic-container {
        grid-row: 1 / 2;
        height: 350px;
        min-width: 450px;
        margin: 0px auto;
    }

    .info-container {
        grid-row: 2 / 3;
    }

    .info-section {
        padding-top: 30px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-evenly;
        gap: 5px;
    }

    .info-section div {
        flex-direction: column;
        justify-content: center;
    }

    .social-icons img {
        width: 35px;
        margin-right: 0px;
    }

    .interests-container {
        gap: 25px;
    }

    .third-page-title {
        gap: 10px;
    }

    .star-heading-right {
        width: 120px;
    }

    .star-heading-left {
        width: 120px;
    }

    .exp-timeline-container {
        gap: 58px;
    }

    .date-timeline {
        border: 11px solid white;
        font-size: 15px;
    }

    .exp-title {
        font-size: 18px;
        font-weight: 700;
    }
    
    .exp-details {
        font-size: 13px;
        padding-top: 6px;
    }

    .exp-timeline-container {
        gap: 45px;
    }

    .web-dev-loading-msg {
        font-size: 23px;
    }

    .loading-dots span {
        width: 6px;
        height: 6px;
    }

    .titles {
        font-size: 20px;
    }

    .list-style {
        padding-top: 10px;
        padding-left: 30px;
        font-size: 16px;
        line-height: 1.4;
    }

    .git-img {
        height: 600px;
        width: 100px;
    }

    video {
        max-height: 300px;
        max-width: 300px;
    }

    .img-404 {
        width: 300px;
    }

    .question-button-container h2 {
        font-size: 20px;
    }

    .answer {
        font-size: 18px;
    }

}

@media only screen and (max-width: 699px) {

    .second-page-container, .third-page-container, .fourth-page-container, .fifth-page-container {
        width: 90%;
    }

    .third-page-title {
        gap: 10px;
    }

    .star-heading-right {
        width: 95px;
    }

    .star-heading-left {
        width: 95px;
    }

    .date-timeline-container {
        gap: 58px;
    }

    .date-timeline {
        border: 9px solid white;
        font-size: 15px;
    }

    .skill-tree-image {
        height: 500px;
    }

    .exp-title {
        font-size: 16px;
        font-weight: 700;
    }
    
    .exp-details {
        font-size: 12px;
        padding-top: 6px;
    }

    .exp-timeline-container {
        gap: 44px;
        padding-bottom: 19px;
    }

    .web-dev-loading-msg {
        font-size: 20px;
    }

    .img-404 {
        width: 250px;
    }

    .question-button-container h2 {
        font-size: 18px;
    }

    .answer {
        font-size: 15px;
    }
}

@media only screen and (max-width: 650px) {

    .introduction-container h1 {
        margin-top: -2vh;
    }

    .star-heading-right {
        width: 85px;
    }

    .star-heading-left {
        width: 85px;
    }

    .question-button-container {
        flex-direction: column;
        align-items: center;
    }

}

@media only screen and (max-width: 600px) {

    .pic-container {
        bottom: 30px;
        transform: scale(0.9);
    }

    .planet {
        left: -30px;
    }

    .stars {
        left: -18%;
    }

    .satellite2 {
        width: 100px;
        right: -20px;
        bottom: -20px;
    }

    .info-section {
        padding-top: 5px;
    }

    .info-container {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .info-inner-content, .about-me-text {
        font-size: 16px;
    }

    .social-icons img {
        width: 30px;
    }

    .star-heading-right {
        visibility: hidden;
        width: 0;
    }

    .star-heading-left {
        visibility: hidden;
        width: 0;
    }

    .fourth-content-container .titles {
        font-size: 17px;
        z-index: 3;
    }

    .skills-container-and-img {
        padding-top: 20px;
    }

    .title-skill.title-skill-mobile {
        display: inline;
    }

    .skills-container.two {
        display: none;
    }

    .skills-container {
        gap: 20px;
    }

    .list-style {
        font-size: 15px;
        z-index: 3;
    }

    video {
        display: none;
    }

    .video-mobile {
        position: absolute;
        display: inline;
        margin: 0;
        max-height: 150px;
        max-width: 150px;
        height: 100%;
        width: 100%;
        /* right: 18%; */
        right: 20vw;
        /* right: 10vh; */
        z-index: 1;
    }

    .git-img {
        width: 0;
        visibility: hidden;
    }
    
    .git-img2 {
        position: absolute;
        display: inline;
        visibility: visible;
        opacity: 30%;
        height: 600px;
        width: 100px;
        object-fit: cover;
        z-index: 1;
        right: 0;
    }

}

@media only screen and (max-width: 500px) {


    .second-page-container, .third-page-container, .fourth-page-container, .fifth-page-container {
        width: 95%;
        margin: 70px auto;
    }

    .second-page-container {
        justify-content: center;
    }

    .second-content-container {
        max-width: 95%;
    }
    
    .straight-line-down {
        width: 70px;
    }

    .straight-line-up {
        width: 70px;
    }

    .title {
        font-size: 23px;
    }

    .titles {
        font-size: 18px;
    }

    .info-inner-content, .about-me-text {
        font-size: 14px;
    }

    .about-me-text {
        padding-top: 0px;
        padding-bottom: 10px;
    }

    .pic-info-container {
        display: flex;
        flex-direction: column;
    }

    .satellite2 {
        bottom: -90px;
    }

    .pic-container {
        width: 90%;
        transform: scale(0.7) translateX(-70%) translateY(-10%);
        left: 50%;
        max-height: 260px;
    }

    .info-container {
        text-align: center;
    }

    .info-section {
        padding-top: 0px;
        gap: 5px;
    }

    .interests-container {
        justify-content: space-evenly;
        gap: 5px;
        padding-top: 20px;
        padding-bottom: 15px;
    }

    .date-timeline-container {
        gap: 63px;
    }

    .date-timeline {
        border: 5px solid white;
        font-size: 14px;
    }

    .skill-tree-image {
        height: 480px;
        width: 65px;
    }

    .exp-title {
        font-size: 14px;
        font-weight: 700;
    }
    
    .exp-details {
        font-size: 11px;
        padding-top: 6px;
    }

    .exp-timeline-container {
        gap: 31px;
        padding-bottom: 35px;
    }

    .web-dev-loading-msg {
        font-size: 18px;
    }

    .img-404 {
        width: 250px;
    }

    .question-button-container h2 {
        font-size: 16px;
    }

    .question-button-container button {
        height: 25px;
        padding: 5px 17px;
        font-size: 13px;
    }

    .answer {
        font-size: 14px;
    }
}

@media only screen and (max-width: 420px) {

    /* video {
        max-height: 280px;
        max-width: 280px;
    } */

}